<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupA</servlet-name>
        <servlet-class>servlets.GroupA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupB</servlet-name>
        <servlet-class>servlets.GroupB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupC</servlet-name>
        <servlet-class>servlets.GroupC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeWantsClasses</servlet-name>
        <servlet-class>servlets.ChangeWantsClasses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnGear</servlet-name>
        <servlet-class>servlets.ReturnGear</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchGear</servlet-name>
        <servlet-class>servlets.SearchGear</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderGear</servlet-name>
        <servlet-class>servlets.OrderGear</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupA</servlet-name>
        <url-pattern>/GroupA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupB</servlet-name>
        <url-pattern>/GroupB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupC</servlet-name>
        <url-pattern>/GroupC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeWantsClasses</servlet-name>
        <url-pattern>/ChangeWantsClasses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnGear</servlet-name>
        <url-pattern>/ReturnGear</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchGear</servlet-name>
        <url-pattern>/SearchGear</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderGear</servlet-name>
        <url-pattern>/OrderGear</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
